* {
    margin: 0;
}
body {
    background: #24252A;
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
  }

h1 {
    color: white;
    margin: 20px 0 30px 0;
    text-align: center;
}

p {
    color: white;
}

footer {
    color: lightgray;
}
li, a, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    background-color: #25242A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0 0 20px black;
    height: 20px;
}

.nav-links {
    list-style: none;

}

.nav-links li {
    display: inline-block;
    padding: 0px 50px;
}

.nav-links li a {
    transition: 0.3s;

}

.nav-links li a:hover {
color: rgb(255, 200, 50);
    
}

.main-img {
    float: left;
    width: 45%;
    margin: 0 30px 0 30px;
}

.main-text {
    margin: 0 30px 30px 0;
}

table {
    color: #edf0f1;
    text-align: left;
}

table img {
    margin: 20px;
}

table ol {
    margin: 0 0 20px 0;
}

h3 {
    color: #edf0f1;
}


h4 {
    color: #edf0f1;
    margin: 20px 0 20px 0;
}

.bio-div {
    text-align: center;
}

.bio-div ul{
    list-style: none;
}

.bio-div li {
    margin-top: 20px;
}

.bio-div li img {
    margin-top: 10px;
    margin-left: -40px;
    width: 200px;
}