html,
body {
  margin: 0;
  padding: 0;
  background: #efeeee;
  font-family: 'Noto Sans', sans-serif;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
}

.board-container {
  display: flex;
  justify-content: center;
}

.game-board {
  background: #dedcdc;
  height: 600px;
  width: 600px;
  border: 1px solid rgba(201, 201, 201, 0.2);
  border-radius: 20px;
  box-shadow: 6px 6px 16px #d1cdc7, -6px -6px 16px #ffffff;
  margin: auto;
  border-spacing: 10px;
}

.board-cell {
  background: #efeeee;
  border-radius: 20px;
  transition: 0.1s ease-in-out;
  height: 200px;
  width: 200px;
  text-align: center;
}

.board-cell:hover {
  box-shadow: inset 20px 20px 60px #cecece, inset -20px -20px 60px #ffffff;
  transition: 0.1s ease-in-out;
}

.center-cell {
  /* border: 1px solid grey; */
}
